<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :bio %>
  <%= f.text_field :bio %><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br>

  <%= f.label "Languages: " %><br>
  Ruby<%= f.check_box("experience", {:multiple => true}, "Ruby", nil) %>
  Java<%= f.check_box("experience", {:multiple => true}, "Java", nil) %>
  Python<%= f.check_box("experience", {:multiple => true}, "Python", nil) %>
  Javascript<%= f.check_box("experience", {:multiple => true}, "Javascript", nil) %>
  React<%= f.check_box("experience", {:multiple => true}, "React", nil) %>
  C#<%= f.check_box("experience", {:multiple => true}, "C#", nil) %>
  PHP<%= f.check_box("experience", {:multiple => true}, "PHP", nil) %>
  SQL<%= f.check_box("experience", {:multiple => true}, "SQL", nil) %>
<br>
  <%= f.label "Username:" %>
  <%= f.text_field :username %><br>

  <%= f.label "Password:" %>
  <%= f.password_field :password %><br>

  <%= f.submit %>

<% end %>
