<h1>Sign Up</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= "**#{e}**" %><br>
  <% end %>
  <br>
  <br>
<% end %>
<%= form_for @user do |f| %>
<div class="ui form">
  <div class="three fields">
    <div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
    </div>
    <div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
    </div>
    <div class="field">
  <%= f.label 'Bio (Max 300 characters)' %>
  <%= f.text_area :bio, :rows=>"2" %>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
  <%= f.label :location %>
  <%= f.text_field :location %>
    </div>
    <div class="field">
      <div class="required field">
  <%= f.label "Languages: " %>
  Ruby<%= f.check_box("experience", {:multiple => true}, "Ruby", nil) %>
  Java<%= f.check_box("experience", {:multiple => true}, "Java", nil) %>
  Python<%= f.check_box("experience", {:multiple => true}, "Python", nil) %>
  Javascript<%= f.check_box("experience", {:multiple => true}, "Javascript", nil) %>
  React<%= f.check_box("experience", {:multiple => true}, "React", nil) %>
  C#<%= f.check_box("experience", {:multiple => true}, "C#", nil) %>
  PHP<%= f.check_box("experience", {:multiple => true}, "PHP", nil) %>
  SQL<%= f.check_box("experience", {:multiple => true}, "SQL", nil) %>
<br>
</div>
</div>
</div>
<div class="two fields">
  <div class="field">
    <div class="required field">
  <%= f.label "Username:" %>
  <%= f.text_field :username %>
  </div>
  </div>
  <div class="field">
    <div class="required field">
  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  </div>
  </div>
  <div class="field"><br>
    <br><%= f.submit %>
</div>
</div>
</div>
<% end %>

<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
