<h1><%= @user.first_name %>'s Page</h1>
Name: <%= @user.first_name + " " + @user.last_name %><br>
Bio: <%= @user.bio %><br>
Location: <%= @user.location %><br>
Languages: <%= @user.nice_lang %><br>

<%= button_to 'Logout', logout_path, method: :delete %>

<%# <%= if current_user.id == @user.id %>
<%# <%= button_to 'Delete Account' %>
