<div class="project-index-container">

<!-- <div style="text-align:center;"> -->
<h1><%= @user.username %></h1>
Name: <%= "#{@user.first_name} #{@user.last_name}" %><br>
<br>Bio: <% if @user.bio.length > 26 %>
  <%= @user.bio[0..26] %><br>
  <%= @user.bio[27..58] %><br>
  <%= @user.bio[59..93] %><br>
  <%= @user.bio[94..127] %><br>
  <%= @user.bio[128..161] %><br>
  <%= @user.bio[162..193] %>
  <%= @user.bio[194..229] %>
  <%= @user.bio[230..263] %>
  <%= @user.bio[230..263] %>
  <%= @user.bio[264..294] %>
  <%= @user.bio[295..300] %>

<% else %>
  <%= @user.bio %><br>
<% end %>
Location: <%= @user.location %><br>
<br>Languages: <%= @user.experience %><br>

<!-- </div> -->
<% if current_user.id == @user.id %>
<%# <%= button_to 'Logout', logout_path, method: :delete %>
<% end %>


<br>
<br>
<h2>My Projects</h2>
<br>
<% if @admins != [] %>

  <% @projects.each do |project| %>
  <div class="ui card" style="margin-bottom: 4%;">
    <div class="content">
      <h2 class='header'><%= project.title %></h2>
    </div>
    <div class="content">
      <h4 class="ui sub header">Description</h4>
      <div class="summary">
      <% if project.description.length > 150 %>
        <%= project.description[0..150] + "..."%>
      <% else %>
        <%= project.description %>
      <% end %>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button"><%= link_to "View", project_path(project) %></button>
    </div>
  </div>
  <% end %>

<% else %>
  <%= "I don't have any projects." %>
<% end %>

<br>
<br>


<h2>Collaborating On</h2>
<div class="ui left labeled button" tabindex="0">
  <a class="ui basic label">
    <%= @collabs.length %>
  </a>
  <div class="ui icon button">
    <i class="fork icon"></i>
  </div>
</div>
<br>
<% if @collaborations != [] %>

    <% @collabs.each do |collab| %>
    <div class="ui card" style="margin-bottom: 4%;">
      <div class="content">
        <h2 class='header'><%= link_to collab.title, collab %></h2>
      </div>
      <div class="content">
        <h4 class="ui sub header">Description</h4>
        <div class="summary">
        <% if collab.description.length > 150 %>
          <%= collab.description[0..150] + "..."%>
        <% else %>
          <%= collab.description %>
        <% end %>
        </div>
      </div>
      <div class="extra content">
        <button class="ui button"><%= link_to "View", project_path(collab) %></button>
      </div>
    </div>
    <% end %>



<% else %>
  <%= "I'm not currently contributing to other projects." %>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if current_user.id == @user.id %>
<button class="ui button">
<%= link_to 'Edit Profile', edit_user_path(@user), method: :get, :style => 'color: black;' %><br>
</button>
<button class="negative ui button">
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color: black;' %>
</button>
<% end %>
















</div>
