<h1>Edit <%= @project.title %></h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <%= "**#{error}**" %><br>
  <% end %>
<% end %>


<%= form_for @project do |f| %>
<div class="ui form">
  <div class="three fields">
    <div class="field">
      <div class="required field">
  <%= f.label 'Title:' %>
  <%= f.text_field :title %>
</div>
</div>
<div class="field">
  <%= f.label 'Category:' %>
  <%= f.select "category", options_for_select([ "Art", "Dance", "Design", "Fashion", "Film & Video", "Food", "Games", "Journalism", "Music", "Photography", "Publishing", "Technology", "Theater"], @project.category) %>

</div>
<div class="field">
  <%= f.label 'Description:' %>
  <%= f.text_area :description, :rows => "2" %>
</div>
</div>
<div class="two fields">

<div class="field">

  <%= f.label "Tech Stack:" %>
  Ruby<%= f.check_box("tech_stack", {:multiple => true}, 'Ruby', nil) %>
  Java<%= f.check_box("tech_stack", {:multiple => true}, 'Java', nil) %>
  Python<%= f.check_box("tech_stack", {:multiple => true}, 'Python', nil) %>
  Javascript<%= f.check_box("tech_stack", {:multiple => true}, 'Javascript', nil) %>
  React<%= f.check_box("tech_stack", {:multiple => true}, 'React', nil) %>
  C#<%= f.check_box("tech_stack", {:multiple => true}, 'C#', nil) %>
  PHP<%= f.check_box("tech_stack", {:multiple => true}, 'PHP', nil) %>
  SQL<%= f.check_box("tech_stack", {:multiple => true}, 'SQL', nil) %>
<br>
</div>

  <div class="field">
  <%= f.label 'Completed?' %>
  <%= f.check_box :completed %>
  </div>
</div>
  <div class="field">
<%= f.submit %>
</div>

</div>
<% end %>
