<h1 style="text-align:center;"><%= @project.title %></h1>

<br>
<br>

<h4>Administrators</h4>
<% @admins.each do |admin| %>
  <%= link_to admin.username, user_path(admin) %>
<% end %>

<br>

<h4>Collaborators</h4>
<% @collabs.each do |collab| %>
  <%= link_to collab.username, user_path(collab) %>
<% end %>

<h4>Project Description</h4>
<%= @project.description %>

<br>
<br>

<h4>Tech Stack</h4>
<ul>

  <%= @project.tech_stack %>
</ul>

<br>
<br>
<br>

<%= button_to "Collaborate on #{@project.title}", "/collaborate", method: :post, params: {project_id: @project.id}%>
