<h1 style="text-align:center;"><%= @project.title %></h1>

<br>
<br>

<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<% if @coll_on_current_proj && current_user.id == @coll_on_current_proj.user_id %>


<button style="opacity: .45!important; background-color: rgb(224, 225, 226); content: "\f007";" class="ui disabled button">
  <i class="user icon"></i>
  Collaborating
</button>

<% end %>

<h4>Creator</h4>
<% @admins.each do |admin| %>
<div class="ui card">
  <div class="content">
      <div class="header"><%= admin.username %></div>
  </div>
  <div class="content">
      <h4 class="ui sub header">Bio:</h4>
      <div class="summary">
        <% if admin.bio.length > 30 %>
          <%= admin.bio[0..40] + "..."%>
        <% else %>
          <%= admin.bio %>
        <% end %>
      </div>
  </div>
 </div>
<% end %>

<br>

<h4>Collaborators</h4>
<ul>
<% @collabs.each do |collab| %>
  <li><%= link_to collab.username, user_path(collab) %></li>

  <% if @admin_id && current_user.id == @admin_id.user_id %>
    <%= button_to "delete collaborator", Collaboration.find_by(project_id: @project.id, user_id: collab.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
<% end %>
</ul>

<h4>Project Description</h4>
<%= @project.description %>

<br>
<br>

<h4>Tech Stack</h4>
<ul>
  <% @tech_stack.each do |l| %>
    <li><%= l %></li>
  <% end %>
</ul>

<br>
<br>
<br>

<div class="ui bottom attached button">
    <i class="add icon"></i>
    <%= button_to "Collaborate", "/collaborate", method: :post, :class => 'butt', params: {project_id: @project.id, admin_id: @project.administrations.first.user_id}%>
</div>
