<h1 style="text-align:center;"><%= @project.title %></h1>


<div style="text-align:center;">


<% if @coll_on_current_proj && current_user.id == @coll_on_current_proj.user_id %>


<button style="opacity: .45!important; background-color: rgb(224, 225, 226); content: "\f007";" class="ui disabled button">
  <i class="user icon"></i>
  Collaborating
</button>

<% end %>
<br>
<br>
<br>

<h3>Creator</h3>
<% @admins.each do |admin| %>
<div class="ui card">
  <div class="content">
      <div class="header"><%= link_to admin.username, admin %></div>
  </div>
  <div class="content">
      <h4 class="ui sub header">Bio:</h4>
      <div class="summary">
        <% if admin.bio.length > 30 %>
          <%= admin.bio[0..40] + "..."%>
        <% else %>
          <%= admin.bio %>
        <% end %>
      </div>
  </div>
 </div>
<% end %>

<br>



<h3>Project Description</h3>
<%= @project.description %>

<br>
<br>

<h3>Tech Stack</h3>
<table class="ui collapsing table">
  <thead>
    <tr>

    </tr>
  </thead>
  <tbody>
    <tr>
      <% @tech_stack.each do |l| %>
      <td><%= l %></td>
      <% end %>
    </tr>

  </tbody>
  <tfoot>
  </tfoot>
</table>


<br>



<h3>Collaborators</h3>

<% @collabs.each do |collab| %>
<div class="ui card">
  <div class="content">
    <div class="header"><%= link_to collab.username, user_path(collab) %></div>
  </div>
  <div class="content">
    <h4 class="ui sub header">Bio:</h4>
    <div class="summary">
      <% if collab.bio.length > 30 %>
      <%= collab.bio[0..40] + "..."%>
      <% else %>
      <%= collab.bio %>
      <% end %>
    </div>
  </div>
</div>
<% if @admin_id && current_user.id == @admin_id.user_id %>
<%= button_to "delete collaborator", Collaboration.find_by(project_id: @project.id, user_id: collab.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>
<% end %>

<div class="ui bottom attached button">
  <i class="add icon"></i>
  <%= button_to "Collaborate", "/collaborate", method: :post, :class => 'butt', params: {project_id: @project.id, admin_id: @project.administrations.first.user_id}%>
</div>
</div>
