<!DOCTYPE html>
<html>
  <head>
    <title>PUCA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="background">

    <% if logged_in? %>
    <div class="ui pointing menu">
  <a id ="sickk" class="item" href="/">Home</a>
  <a class="item" href="/projects">Open Projects</a>
  <a class="item" href="/projects/new">New Project</a>
  <div class="right menu item">

  <%= link_to 'Logout', logout_path, class: "item", method: :delete %>
  </div>
  <%= link_to 'Account', user_path(current_user.id), class: "item", method: :get %>
  </div>
    <% else %>
    <div class="ui pointing menu">
  <a class="item" href="/">Home</a>
  <div class="right menu item">
  <%= link_to 'Login', login_path,class: "item", method: :get %>
  <%= link_to 'Sign Up', new_user_path,class: "item", method: :get %>
</div>
</div>
  <% end %>

    <%= yield %>
    </div>
  </body>
  <footer class="row Site-footer">
    <div class="footer-content"><div class="footer-flex-container">

      <div class="footer-elements-flex-container">
        <div class="footer-element">
          <h4 class="footer-title SubHeader-sc-1t7qwkj-5 eIbScD">

          </h4>

</div>
<div class="footer-element"><h4 class="footer-title SubHeader-sc-1t7qwkj-5 eIbScD"><span>Account</span></h4><p class="Text-sc-1t7qwkj-6 crvEBk"><span>Log in</span></p><p class="Text-sc-1t7qwkj-6 crvEBk"><span>Sign up</span></p></div><div class="footer-element"><h4 class="footer-title SubHeader-sc-1t7qwkj-5 eIbScD"><span>Other bits</span></h4><a href="https://blog.fatllama.com/" rel="nofollow noopener" target="_blank"><p class="Text-sc-1t7qwkj-6 crvEBk"><span>Blog</span></p></a>

    <a href="https://fatllama.typeform.com/to/YQHbGD" rel="nofollow noopener" target="_blank"><p class="Text-sc-1t7qwkj-6 crvEBk"><span>Leave feedback</span></p></a></div><div class="footer-element-right"><div style="position:absolute;opacity:0;color:function(t){return t.theme.colors[e]};transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;bottom:12px;font-size:14px"> </div><div id="undefined--undefined-34595" style="display:block;font-size:15px;height:100%;font-family:Mabry-Medium, Helvetica, Arial;outline:none;position:relative;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;padding:0;width:100%;border:none;background-color:rgba(0,0,0,0);color:rgba(0, 0, 0, 0.87);cursor:inherit;font:inherit;-webkit-opacity:1;-webkit-tap-highlight-color:rgba(0,0,0,0);max-width:200px"><div style="cursor:pointer;height:100%;position:relative;width:100%"><div style="box-sizing:border-box;content:' ';display:table"></div></div><div style="border-top:none;bottom:1px;left:0;margin:-1px 24px;right:0;position:absolute"></div><div style="box-sizing:border-box;content:' ';clear:both;display:table"></div></div><div style="display:none"></div></div><div><hr aria-hidden="true" style="border-top:none;border-left:none;border-right:none;border-bottom-style:solid;border-bottom-width:1px;border-color:#e0e0e0;bottom:8px;box-sizing:content-box;margin:0;position:absolute;width:100%"><hr aria-hidden="true" style="border-top:none;border-left:none;border-right:none;border-bottom-style:solid;border-bottom-width:2px;border-color:#2CCBBB;bottom:8px;box-sizing:content-box;margin:0;position:absolute;width:100%;transform:scaleX(0);transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms"></div></div></div></div>
<div class="bottom-bar-flex-container"><div style="border-top:none;bottom:1px;left:0;margin:-1px 24px;right:0;position:absolute"></div><div style="box-sizing:border-box;content:' ';clear:both;display:table"></div></div><div style="display:none"></div><div><hr aria-hidden="true" style="border-top:none;border-left:none;border-right:none;border-bottom-style:solid;border-bottom-width:1px;border-color:#e0e0e0;bottom:8px;box-sizing:content-box;margin:0;position:absolute;width:100%"><hr aria-hidden="true" style="border-top:none;border-left:none;border-right:none;border-bottom-style:solid;border-bottom-width:2px;border-color:#2CCBBB;bottom:8px;box-sizing:content-box;margin:0;position:absolute;width:100%;transform:scaleX(0);transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms"></div>
  </footer>
</html>
